<!doctype html>
<!--<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<title>header</title>-->
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<div th:fragment="entetecss">
        &lt;!&ndash; Bootstrap CSS &ndash;&gt;
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/cinemaJPA.css" th:href="@{/css/cinemaJPA.css}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous"/>
    </div>-->
    <th:block th:fragment="entetecss">
        <!-- # BOOTSTRAP CSS (CDN) # -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/cinemaJPA.css" th:href="@{/css/cinemaJPA.css}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
              integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h"
              crossorigin="anonymous"/>
        <!-- ## ICONE NAVIGATEUR ## -->
        <!--<link rel="icon" sizes="16x16" href="static/favicon.ico" />-->
        <!-- # POUR MOZILLA FIREFOX # --><!-- # POUR GOOGLE # -->
        <link rel="shortcut icon" type="image/x-icon" href="..\favicon.ico" th:href="@{/favicon.ico}" sizes="16x16"/>

        <title th:text="${titrepage ?: 'Cinema'}"></title>
    </th:block>
</head>

<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>-->

<div class="bg-primary centretext" id="header0" th:fragment="header0">
    Cinema JPA
</div>
<div id="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <a class="navbar-brand" href="/"><i class="fas fa-film"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                <li class="nav-item">
                    <a class="nav-link" href="/person/list">Liste des personnes<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/film/list">Liste des films</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>-->
            </ul>
            <!--TODO Intégrer la recherche -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
</body>
</html>