/* HEADER */
#header0{
    font-size: 54px;
    color: white;
    background-color: #007bff;
    margin-bottom: 2px;
}

li.nav-item{
    margin-right: auto;
}

/* BODY */
body{
    /*background-color: red;*/
}

.fondaccueil{
    /*background-color: red;*/
    /*background-color: green;*/
    /*background-color: blue;*/
    /*background-color: papayawhip;*/
    background-color: lightyellow;
}

.fas{
    font-size: 50px;
}

div#footer{
    text-align: center;
    padding: 10px;
    /*background-color: lime;*/
}

ul{
    list-style-type: disc;
    padding-left: 15px;
}

img{
    width: 80%;
    height: auto;
    background-color: green;
    display: block;
}

img.centre{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img.rien{
    width: 0em;
}

.MUR{
    background-color: lightgrey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.centretext{
    text-align: center;
}

.alert{
    color: red;
}

table{
    width: 100%;
}

.w-100 {
    width: 30em!important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.MUR > p{
    margin: 0;
}

.MUR > p:last-child{
    padding-bottom: 10px;
}
