<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>Détail personne</title>-->
    <div th:replace="fragments/header :: entetecss" />
</head>
<body>
<div th:replace="fragments/header :: header0"/>
<div th:replace="fragments/header :: header"/>
<div class="MUR">
    <h1 class="centretext">Détails</h1>
    <hr/>
    <h2 class="centretext"><p class="centretext">Prénom Nom :</p><p class="centretext" th:text="${person.givenname} + ' ' + ${person.surname}">Paul Anka</p></h2>
    <hr/>
    <!--<h2 class="centretext">Année de naissance : <p class="centretext" th:text="${person.birthYear}">1800</p></h2>-->
    <h2 class="centretext">Année de naissance : <p class="centretext" th:text="${person.birthday}">1800</p></h2>
    <hr/>
    <!-- TODO DONE ajouter l'image de la personnalité -->
    <img class="centre" th:src="'/person/photo/'+${person.getImagePath()}"><!-- ><><><>< -->
    <hr/>
    <br/>
    <p class="centretext"><a href="#" th:href="@{'/person/list'}">Retour à la liste des personnes</a></p>
</div>
<!-- TODO afficher une LISTE DE LIENS des FILMS dans lesquels la personne a joué -->

<!-- TODO optimiser le css -->
</body>
<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: scriptsjs"/>
</html>
