<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/person/add}" th:object="${person}" enctype="multipart/form-data" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{getImagePath}"/>
    <p>Prénom : <input type="text" th:field="*{getGivenname}"/></p>
    <p>Nom : <input type="text" th:field="*{getSurname}"/></p>
    <p>Annee de naissance : <input type="text" th:field="*{getBirthYear}"/></p>

    <p>Photo : <input type="file" name="photo"/> <span th:text="*{getImagePath}">Fichier photo</span></p>

    <input type="submit" value="Valider" />
</form>
</body>
</html>