<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>Formulaire modification personne</title>-->
    <div th:replace="fragments/header :: entetecss" />
</head>
<body>
<div th:replace="fragments/header :: header0"/>
<div th:replace="fragments/header :: header"/>

<!-- FICHIER MULTIPART PERSON -->
<form action="#" th:action="@{/person/add}" th:object="${person}" enctype="multipart/form-data" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{imagePath}"/>
    <p>Prénom : <input type="text" th:field="*{givenname}"/></p>
    <p>Nom : <input type="text" th:field="*{surname}"/></p>
    <!--<p>Annee de naissance : <input type="text" th:field="*{birthYear}"/></p>-->
    <p>Annee de naissance : <input type="text" th:field="*{birthday}"/></p>

    <p>Photo : <input type="file" name="photo"/> <span th:text="*{imagePath}">Fichier photo</span></p>

    <input type="submit" value="Valider" />
</form>
<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: scriptsjs"/>
</body>
</html>