<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="person: ${persons}">
        <td><span th:utext="${person.surname}"></span> <a href="#" th:href="@{'/person/detail/'+${person.id}}">detail</a> <a href="#" th:href="@{'/person/mod/'+${person.id}}">modifier</a> <a href="#" th:href="@{'/person/del/'+${person.id}}">supprimer</a></td>
    </tr>
</table>

<br/>

<a href="#" th:href="@{'/person/add'}">Ajouter une personne</a>

</body>
</html>