<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>Formulaire ajout film</title>-->
    <div th:replace="fragments/header :: entetecss" />
</head>
<body>
<div th:replace="fragments/header :: header0"/>
<div th:replace="fragments/header :: header"/>

<form action="#" th:action="@{/film/add}" th:object="${film}" enctype="multipart/form-data" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Titre : <input type="text" th:field="*{title}"/></p>
    <p>Notation : <input type="text" th:field="*{rating}"/></p>
    <p>Image path : <input type="text" th:field="*{imagePath}"/></p>
    <p>Résumé : <input type="text" th:field="*{summary}"/></p>
    <!--<p>Réalisateur : <input type="text" th:field="*{director}"/></p>-->

    <p>Affiche : <input type="file" name="poster"/> <span th:text="*{imagePath}">Fichier photo</span></p>

    <input type="submit" value="Valider" />
</form>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: scriptsjs"/>
</body>
</html>