<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>Détail du film</title>-->
    <div th:replace="fragments/header :: entetecss" />
</head>
<body>
<div th:replace="fragments/header :: header0"/>
<div th:replace="fragments/header :: header"/>

<div class="MUR">
    <!-- ERREUR -->    <!-- ERREUR -->    <!-- ERREUR -->
    <th:block th:if="${film}">
        <h1 class="centretext" th:object="${film}">Détail</h1>
    </th:block>
    <th:block th:unless="${film}">
        <h1 class="centretext">Détail</h1>
        <p class="centretext alert" th:text="'Aucun film ne correspond au numéro indiqué dans l\'url."></p>
    </th:block>
    <hr/>
    <!-- ERREUR -->    <!-- ERREUR -->    <!-- ERREUR -->

    <!-- ### VERIF TITRE -->
    <th:block th:if="*{film.title}">
        <p><h2 class="centretext">Titre : </h2><p class="centretext" th:text="${film.title}"></p>
    </th:block>
    <th:block th:unless="${film.title}">
        <p><h2 class="centretext">Titre : </h2><p class="centretext alert" th:text="'Aucun titre à ce film.'"></p>
    </th:block>
    <hr/><!-- FIN VERIF TITRE ### -->

    <!-- ### VERIF RÉSUMÉ -->
    <th:block th:if="${!film.summary.isEmpty()}">
        <h2 class="centretext">Description : </h2><p class="centretext" th:text="${film.summary}"></p>
    </th:block>
    <th:block th:unless="${!film.summary.isEmpty()}">
        <h2 class="centretext">Description : </h2><p class="centretext alert" th:text="'Aucun résumé à ce film.'"></p>
    </th:block>
    <hr/><!-- FIN VERIF RÉSUMÉ ### -->

    <!-- ### VERIF NOTE -->
    <th:block th:if="${film.rating}">
        <h2 class="centretext">Note : </h2><p class="centretext" th:text="${film.rating} + ' / 5'"></p>
    </th:block>
    <th:block th:unless="${film.rating}">
        <h2 class="centretext">Note : </h2><p class="centretext alert" th:text="'Aucune note à ce film.'"></p>
    </th:block>
    <hr/><!-- FIN VERIF NOTE ### -->

    <!-- ### VERIF DIRECTEUR -->
    <th:block th:if="${film.director}">
        <!--<h2 class="centretext">Réalisateur : </h2><p class="centretext" th:text="'Realisateur trouve pour ce film'"></p>-->
        <h2 class="centretext">Réalisateur : </h2><p class="centretext" th:text="${film.director.surname + ' ' + film.director.givenname}"></p>
    </th:block>
    <th:block th:unless="${film.director}">
        <h2 class="centretext">Réalisateur : </h2><p class="centretext alert" th:text="'Aucun réalisateur mentionné pour ce film.'"></p>
    </th:block>
    <hr/><!-- FIN VERIF DIRECTEUR ### -->

    <!-- ### VERIF IMAGE PATH -->
    <th:block th:if="${!film.imagePath.isEmpty()}">
        <h2 class="centretext">ImagePath : </h2><p class="centretext" th:text="${film.imagePath}"></p>
        <hr/>
        <!-- TODO présence de l'image non gérée -->
        <img class="centre" th:src="'/film/poster/'+${film.imagePath}"><!-- ><><><>< -->
        <!--<hr/><img class="centre" th:src="'/film/poster/'+${film.imagePath}">&lt;!&ndash; ><><><>< &ndash;&gt;-->
    </th:block>
    <th:block th:unless="${!film.imagePath.isEmpty()}">
        <h2 class="centretext">ImagePath : </h2><p class="centretext alert" th:text="'Pas de Path trouvé pour l\'image du film.'"></p>
        <hr/>
        <img class="centre rien" th:src="'/film/poster/'+${film.imagePath}"><!-- ><><><>< -->
    </th:block>
    <!-- FIN VERIF IMAGE PATH ### -->

    <!-- TODO le cas de figure où, un film a un image-path de renseigné mais pas d'image, n'est pas pris en compte -->
    <br/>
    <hr/>
    <p class="centretext"><a href="#" th:href="@{'/film/list'}">Retour à la liste des films</a></p>
</div>
<!--<img th:src="'Users/CDI/Desktop/images/affichesS/'+${film.getImagePath()}">&lt;!&ndash; ><><><>< &ndash;&gt;-->
<!--<img th:src="'C:/Users/CDI/Desktop/images/affichesS/'+${film.getImagePath()}">&lt;!&ndash; ><><><>< &ndash;&gt;-->
<!--<img th:src="'images/affichesS/'+${film.getImagePath()}">&lt;!&ndash; ><><><>< &ndash;&gt;-->
<!--<img th:src="'Users\CDI\Desktop\images\affichesS\f0008.jpg'">&lt;!&ndash; ><><><>< &ndash;&gt;-->
<!--<img th:src="'Users/CDI/Desktop/images/affichesS/f0008.jpg'">&lt;!&ndash; ><><><>< &ndash;&gt;-->

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: scriptsjs"/>
</body>
</html>