<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<title>Formulaire modification film</title>-->
    <div th:replace="fragments/header :: entetecss" />
</head>
<body>
<div th:replace="fragments/header :: header0"/>
<div th:replace="fragments/header :: header"/>

<!-- FICHIER MULTIPART FILM -->
<form action="#" th:action="@{/film/add}" th:object="${film}" enctype="multipart/form-data" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{imagePath}"/>
    <p>Titre : <input type="text" th:field="*{title}"/></p>

    <p>Affiche : <input type="file" name="poster"/> <span th:text="*{imagePath}">Fichier photo</span></p>
    <!--<p>Affiche : <input type="file" name="poster"/> <span th:text="*{imagePath}">Fichier photo</span></p>-->

    <input type="submit" value="Valider" />
</form>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: scriptsjs"/>
</body>
</html>