<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<title>Titre des films</title>-->
    <div th:replace="fragments/header :: entetecss" />
</head>
<body>
<div th:replace="fragments/header :: header0"/>
<div th:replace="fragments/header :: header"/>

<table>
    <tr th:each="film: ${films}">
        <td><span th:utext="${film.title}"></span> <a href="#" th:href="@{'/film/detail/'+${film.id}}">detail</a> <a href="#" th:href="@{'/film/mod/'+${film.id}}">modifier</a> <a href="#" th:href="@{'/film/del/'+${film.id}}">supprimer</a></td>
    </tr>
</table>

<br/>

<a href="#" th:href="@{'/film/add'}">Ajouter un film</a>


<!-- JUNO PLAYER -->
<!--<iframe frameborder="no" height="305" src="https://www.junodownload.com/player-embed/609ffbf2e654e245c63073192d238f8e/?pl=true&pn=true&jd=true" scrolling="no" width="100%"></iframe>-->

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: scriptsjs"/>
</body>
</html>